# Files
.env
settings.json
.pre-commit-config.yaml
pyproject.toml
*.txt
*.pyc
tests/*.db

#Folders
misc/
data/
.venv/
.vscode/
.idea/
src/config files
notebooks/
output_dir/
*/__pycache__/
frontend_react_archived/

# Reflex
ui_reflex/**/.web/
ui_reflex/**/__pycache__/
ui_reflex/**/.reflex/

