# Files
.env
settings.json
*.pyc
*.log
temp.txt
tests/*.db

#Folders
misc/
data/
.venv/
.vscode/
.idea/
src/config files
notebooks/
output_dir/
*/__pycache__/
frontend_react_archived/
.tmp_pdf/

# Reflex
ui_reflex/**/.web/
ui_reflex/**/__pycache__/
ui_reflex/**/.reflex/
ui_reflex/**/.states/

